
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: 'Poppins', sans-serif;
}

.navbar {
    isolation: isolate;
}
.svg-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.svg-wrapper svg {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.container {
    width:80%;
    height: 80vh;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container img {
    display: block;
    width: 100%;
    max-width: 500px;
    z-index: -1;
}
.container p {
    max-width: 300px;
    padding-left: 50px;
}
.content {
    background: #fff;
    width: 60%;
    height: auto;
    -webkit-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.3);
    padding: 1rem 3rem;
}

.goals {
    list-style: none;
    counter-reset: counter;
}
.goals li {
    counter-increment: counter;
    font-size: 18px;
    position: relative;
}
.goals li:first-child {
    font-size: 22px;
    margin-bottom: 10px;
}

.goals li:nth-child(even) {
    background: rgb(245, 245, 245);
}

.goals li:last-child::after {
    display: block;
    content: 'Fler mål kommer...';
    font-size: 12px;
    background: #fff;
    padding-top: 24px;
}

.goals li::before {
    font-family: Montserrat, sans-serif;
    content: counter(counter);
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    line-height: 20px;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-content {
    width: 100%;
    text-align: center;
    background: #693250;
    height: 25vh;
}
.footer-content {
    color: #fff;
}
.footer-content h2 {
    margin-bottom: 20px;
}
.footer-content ul {
    list-style: none;
}
.footer-content ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 1.8rem;
}